@charset "utf-8";

// Set your brand colors
$pink-darkest: #B61515;
$pink-darker: #E13030;
$pink: #F75656;
$pink-lighter: #FF7C7C;
$pink-lightest: #FFA7A7;

$orange-darkest: #B65E15;
$orange-darker: #E18030;
$orange: #F79F56;
$orange-lighter: #FFB77C;
$orange-lightest: #FFCFA7;

$green-darkest: #119111;
$green-darker: #26B426;
$green: #45C645;
$green-lighter: #69D869;
$green-lightest: #98E998;

$blue-darkest: #0C6D6D;
$blue-darker: #1D8787;
$blue: #349494;
$blue-lighter: #56B1B1;
$blue-lightest: #8AD3D3;

// Update Bulma's global variables
$primary: $blue-lighter;
$info: $pink;
$success: $orange;
$danger: $pink-darkest;
// $family-sans-serif: "Nunito", sans-serif;
// $link: $pink;

// $slider-track-background: $blue-lightest;
$slider-thumb-background: $primary;

// @import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/media.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/progress.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";

@import "../node_modules/bulma-slider/src/sass/index.sass";

html,
body,
#app {
	height: 100%;
	margin: 0;
}

body {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

h1 {
	font-size: 2em;
}

a {
  color: inherit;
}

/* a.inline {
  box-shadow: inset 0 -3px 0 0 #f3f3f3,inset 0 -6px 0 0 #FFA7A7;  
}

a.inline:hover {
  box-shadow: inset 0 -3px 0 0 #f3f3f3,inset 0 -22px 0 0 #FFA7A7;
} */

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.input {
	background-color: #fdf5ef;
}

.is-static {
	background-color: inherit;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
}

.episode {
  display: flex;
  flex-direction: column;
}

.podcasts {
  display: flex;
  flex-wrap: wrap;
}

.podcast {
  display: flex;
  flex-direction: column;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}
