@charset "utf-8";

// Set your brand colors
$pink-darkest: hsl(0, 79%, 40%);
$pink-darker: hsl(0, 75%, 54%);
$pink: hsl(0, 91%, 65%);
$pink-lighter: hsl(0, 100%, 74%);
$pink-lightest: hsl(0, 100%, 83%);

$orange-darkest: hsl(27, 79%, 40%);
$orange-darker: hsl(27, 75%, 54%);
$orange: hsl(27, 91%, 65%);
$orange-lighter: hsl(27, 100%, 74%);
$orange-lightest: hsl(27, 100%, 83%);

$green-darkest: hsl(120, 79%, 32%);
$green-darker: hsl(120, 65%, 43%);
$green: hsl(120, 53%, 52%);
$green-lighter: hsl(120, 59%, 63%);
$green-lightest: hsl(120, 65%, 75%);

$blue-darkest: hsl(180, 80%, 24%);
$blue-darker: hsl(180, 65%, 32%);
$blue: hsl(180, 48%, 39%);
$blue-lighter: hsl(180, 37%, 52%);
$blue-lightest: hsl(180, 45%, 68%);

// Update Bulma's global variables
$primary: $blue-lighter;
$info: $pink;
$success: $orange;
$danger: $pink-darkest;
// $family-sans-serif: "Nunito", sans-serif;
// $link: $pink;

// $slider-track-background: $blue-lightest;
$slider-thumb-background: $primary;

// @import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/media.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/progress.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";

@import "../node_modules/bulma-slider/src/sass/index.sass";

html,
body,
#app {
	height: 100%;
	margin: 0;
}

body {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

h1 {
	font-size: 2em;
}

a {
  color: inherit;
}

/* a.inline {
  box-shadow: inset 0 -3px 0 0 #f3f3f3,inset 0 -6px 0 0 #FFA7A7;  
}

a.inline:hover {
  box-shadow: inset 0 -3px 0 0 #f3f3f3,inset 0 -22px 0 0 #FFA7A7;
} */

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.input {
	background-color: #fdf5ef;
}

.is-static {
	background-color: inherit;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
}

.episode {
  display: flex;
  flex-direction: column;
}

.podcasts {
  display: flex;
  flex-wrap: wrap;
}

.podcast {
  display: flex;
  flex-direction: column;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}
